<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Color name ="white" min ="200, 200, 200" max ="255, 255, 255" />
  <Color name ="red" min ="0, 50, 200" max ="100, 150, 255" />
  <Color name ="green" min ="120, 200, 0" max ="190, 255, 50" />
  <Color name ="blue" min ="180, 180, 0" max ="255, 255, 80" />

  <Area name="top" area ="0.22, 0.22, 0.1, 0.66"/>
  <Area name="middle" area ="0.22, 0.22, 0.39, 0.39"/>
  <Area name="bottom" area ="0.22, 0.22, 0.66, 0.1"/>

  <Behavior key="1" translate="GoogleInQuotes" areas="bottom, top, middle" colors="all"/>
  <Behavior key="q" translate="GoogleInQuotes" areas="top" colors="all"/>/>
  <Behavior key="a" translate="GoogleInQuotes" areas="middle" colors="all"/>/>
  <Behavior key="z" translate="GoogleInQuotes" areas="bottom" colors="all"/>/>

  <Behavior key="2" translate="Google" areas="bottom, top, middle" colors="all"/>
  <Behavior key="w" translate="Google" areas="top" colors="all"/>/>
  <Behavior key="s" translate="Google" areas="middle" colors="all"/>/>
  <Behavior key="x" translate="Google" areas="bottom" colors="all"/>/>

  <Behavior key="3" translate="Naver" areas="bottom, top, middle" colors="all"/>
  <Behavior key="e" translate="Naver" areas="top" colors="all"/>/>
  <Behavior key="d" translate="Naver" areas="middle" colors="all"/>/>
  <Behavior key="c" translate="Naver" areas="bottom" colors="all"/>/>
</Config>
